* {
    box-sizing: border-box;
}

body {
    font-family: 'Alegreya Sans', sans-serif;
    background-color: lightslategray;
    margin: 0;
    padding: 0;
}

header {
    text-align: center;
    height: 4em;
    box-shadow: 1px 1px 3px black;
    background-color: rgb(9, 28, 83);
    color: #137a99;
    text-shadow: -1px 1px 4px #0c5368;
    margin-bottom: 0.75em;
    padding: 0.5em;
    border-radius: 0 0 1em 1em;
}

h1 {
    margin: 0;
}

main {
    text-align: center;
}

form {
    margin-block: 0.5em;
}

button {
    width: max-content;
    height: max-content;
}

#func-holder {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
    margin-bottom: 2em;
}

#object-holder {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.update-form-style {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: absolute;
    z-index: 1;
    inset-block: 6em;
    inset-inline: 15em;
    background-color: #094053f5;
}

.update-form-style > * {
    width: max-content;
}

.object-element {
    width: max-content;
    min-height: 10em;
    padding-bottom: 0.25em;
    background: linear-gradient(to bottom right, #094153, #1B0953);
    color: white;
    text-shadow: 0 0 3px black;
    border-radius: 1em;
    margin-inline: 1em;
    margin-block: 0.5em;
    transition: 250ms ease-in-out;
    box-shadow: -3px 3px 5px black;
}

.object-element:hover {
    transform: translate3d(1rem, -0.5rem , 0.5rem) scale(110%);
    box-shadow: -30px 30px 30px black;
    cursor: pointer;
}

.object-element:active {
    transform: translate3d(0.75rem, -0.3rem , 0.3rem) scale(105%);
    box-shadow: -25px 25px 25px black;
    cursor: pointer;
}

.object-header {
    text-align: left;
    border: 0.75px solid black;
    border-top-left-radius: 1em;
    border-top-right-radius: 1em;
    box-shadow: 0 4px 4px #0c5368;
    margin: 0;
    padding: 0.5em 0.5em;
}

.object-body {
    padding: 0.5em;
}

.object-body p {
    text-align: left;
    font-size: smaller;
    margin-block: 0.5em;
}

.hide {
    display: none;
}

@keyframes fadescalein {
    0% {
        opacity: 0;
        transform: scale(95%);
    }

    100% {
        opacity: 1;
        transform: scale(100%);
    }
}